body {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 20, 20);
    text-align: center;
}

#wrapper {
    display: inline-block;
    margin: 20px;
}

#left-div {
    display: inline-block;
    vertical-align: top;
    margin: 0 20 20 20;
    padding: 20;
    border: solid 1px rgb(255, 255, 255);
    width: 286px;
    height: 572.325px;
}

#logo {
    width: 200px;
    margin-bottom: 15px;
}

#game-container {
    position: relative;
    display: inline-block;
}

#background {
    z-index: -1;
}

#game-canvas {
    position: absolute;
}

#score-div,
#lines-div {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    margin: 15 0;
}
/* Tremida da tela */
@keyframes shake {
    0%, 100% { transform: translate(0, 0) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-8px, 0) rotate(-3deg); }
    20%, 40%, 60%, 80% { transform: translate(8px, 0) rotate(3deg); }
  }
  
  .shake {
    animation: shake 0.35s ease;
  }
  
  /* A animação flash já estava, mantenha ela */
  .flash {
    animation: feverFlash 0.5s ease-in-out 3;
  }
  
  @keyframes feverFlash {
    0%   { background-color: rgba(255, 0, 0, 0.3); }
    50%  { background-color: rgba(255, 255, 0, 0.3); }
    100% { background-color: rgba(255, 0, 0, 0.3); }
  }
  