body {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 20, 20);
    text-align: center;
}

#wrapper {
    display: inline-block;
    margin: 20px;
}

#left-div {
    display: inline-block;
    vertical-align: top;
    margin: 0 20 20 20;
    padding: 20;
    border: solid 1px rgb(255, 255, 255);
    width: 286px;
    height: 572.325px;
}

#logo {
    width: 200px;
    margin-bottom: 15px;
}

#game-container {
    position: relative;
    display: inline-block;
}

#background {
    z-index: -1;
}

#game-canvas {
    position: absolute;
}

#score-div,
#lines-div {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    margin: 15 0;
}